body {
  margin: 1vmin;
  text-align: center; }
  body #main {
    margin: 0 auto; }
    body #main #board {
      display: inline-block; }
      body #main #board .row2 {
        margin: 3px 0; }
      body #main #board .row {
        display: inline-block; }
      body #main #board .col {
        display: inline-block;
        border: 3px solid #95a5a6; }
      body #main #board .col-each {
        height: 10vmin;
        width: 10vmin;
        display: inline-block;
        border-radius: 1px;
        background-color: #ecf0f1; }
        body #main #board .col-each input {
          background-color: #ecf0f1;
          width: 3vmin;
          height: 6vmin;
          padding: 1.5vmin 3vmin 1.5vmin 3vmin;
          font-size: 5vmin; }
        body #main #board .col-each input[type=number]::-webkit-inner-spin-button,
        body #main #board .col-each input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; }
    body #main #button {
      display: inline-block;
      position: absolute;
      top: 41vmin;
      margin-left: 14vmin; }
